/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 80px;
  padding-left: 80px;
  margin: 30px;
  border-radius: 7px;
}
.heading {
  color: #ff8542;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
  text-align: center;
}
